<main id="work">
  <h1 class="lg-heading">
    My
    <span class="text-secondary">Work</span>
  </h1>
  <h2 class="sm-heading">
    Check out some of my projects...
  </h2>
  {{#each projects}}
  <div class="projects">
    <div class="item">
        <img class="card-img-top" src="{{image}}" alt="{{alt}}">
        <div class="_card-body">
          <a href="{{dhref}}" class=" fas fa-eye  btn btn-primary" target="_blank">{{title}}</a>
          <a href="{{href}}" class="btn btn-dark">
            <i class="fab fa-github"></i> Github
          </a>
        </div>
        {{/each}}
    </div>
</main>

<footer id="main-footer">
  Copyright &copy; 2019
</footer>
<script src="js/main.js"></script>